<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Gremlin</title>

        <!-- Aqui vai códido JS - Java Script -->
        <script>
            var tamanhoGangue = 1;

            function molharGremlin() {
               tamanhoGangue++;                
               document.getElementById('gangue').innerHTML += 
               `<div class="gremlin" id="g${tamanhoGangue}">
                    <h3>Gremlin ${tamanhoGangue}</h3>
                    <button onclick="molharGremlin()">Molhar</button>
                    <button onclick="alimentarGremlin('g${tamanhoGangue}')">Alimentar</button>
                </div>`;              
            }

            function alimentarGremlin(idGremlin) {
                document.getElementById(idGremlin).style.backgroundColor = 'red';
            }

        </script>
        <!-- Aqui vai o CSS - Cascade Style Sheet -->
        <style>
            .gremlin h3 {
                text-align: center;
            }

            .gremlin {
                border: 1px solid black;
                background-color: antiquewhite;
                margin: 20px;
                display: inline-block;
                padding: 20px;
            }
        </style>
    </head>
    <body>
        <h1>Gremlins</h1>

        <h2>Regras:</h2>

        <ol>
            <li>Não alimentar</li>
            <li>Não molhar</li>
        </ol>

        <div id="gangue">
            <div class="gremlin" id="g1">
                <h3>Gremlin 1</h3>
                <button onclick="molharGremlin()">Molhar</button>
                <button onclick="alimentarGremlin('g1')">Alimentar</button>
            </div>
        </div>

        
        
    </body>
</html>