# Configurações do Banco de Dados PostgreSQL
# Nunca guarde informações sensíveis no código
# Altere o nome deste arquivo para .env e preencha com suas informações

# Configurações do Servidor
PORT=3000

# Configurações do Banco de Dados
DB_HOST=localhost
DB_PORT=5432
DB_NAME=vival
DB_USER=vivaluser
DB_PASSWORD=vivaluser
 
# Configurações de Autenticação, cheque o README para mais informações
JWT_SECRET='6lfues6T9SawA6c0kkC/L3xKCWXzdvMpwVoBbx/2REs='